<div class="login-dark">
    <form method="post" (ngSubmit)="login()">
        <h2 class="sr-only">Machine Learning</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group">
            <input class="form-control" type="email" [(ngModel)]="username" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" [(ngModel)]="password" placeholder="Mot de passe">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Se Connecter</button>
            <button class="btn btn-primary btn-block" type="button" disabled *ngIf="loader">Connexion en cours...</button>
        </div>
    </form>
    <div class="erreur_message" *ngIf="wornguser">
        <h4>Erreur de connexion. Veuillez réessayer!</h4>
    </div>
</div>